.testimonials{
    background-color: #E1E5F2;
    overflow: hidden;
}
.containerT{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #E1E5F2;
}
h1 {
    font-size: 48px;
    line-height: 1.4;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
}
.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
}

.card {
    background: #ffffff;
    width: 28%;
    border-radius: 2%;
    margin: 2.5%;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
            box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    -webkit-transition: all ease 200ms;
    -o-transition: all ease 200ms;
    transition: all ease 200ms;
}
.card:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
            box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}
.card .imgT {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.card-body {
    padding: 5%;
}
.card h3 {
    color: #000000;
    margin: 2.5% 0;
    line-height: 1.4;
    font-size: 30px;
    -webkit-transition: all ease-in 100ms;
    -o-transition: all ease-in 100ms;
    transition: all ease-in 100ms;
}
.card p {
    line-height: 1.6;
    font-size: 16px;
    color: #808080;
    margin-bottom: 2.5%;
}
.card h5 {
    color: #1F7A8C;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .courses {
        padding: 10%;
    }
    .header h1 {
        margin-bottom: 5%;
    }
    .header p {
        margin-bottom: 5%;
    }
    .cards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .card {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: 100%;
        border-radius: 2%;
        margin: 5% 0;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
    .card-body {
        padding: 5%;
    }
    .card h2 {
        margin: 5% 0;
    }
    .card p {
        margin-bottom: 5%;
    }
}